<div class>
  <app-date></app-date>
  <div class="page-title">
    <p>Add Product</p>
    <div class="underline"></div>
    <button class="back" routerLink="/products">Back</button>
    <form class="add-prod-form">
      <label>Product Name</label>

      <input />

      <label>Inventory</label>

      <input />

      <label>Price</label>

      <input />

      <label>Minimum Stock</label>

      <input />

      <label>Category</label>

      <input />
      <button type="submit">Add Product</button>
    </form>
  </div>
</div>
