<div class>
  <app-date></app-date>
  <div class="page-title">
    <p>Add Product</p>
    <div class="underline"></div>
    <button class="back" routerLink="/products">Back</button>
    <form
      class="add-prod-form"
      [formGroup]="reactiveForm"
      (ngSubmit)="onSubmit()"
    >
      <label>Product Name</label>

      <input type="text" formControlName="name" />

      <label>Inventory</label>

      <input type="text" formControlName="inventory" />

      <label>Price</label>

      <input type="text" formControlName="price" />

      <label>Minimum Stock</label>

      <input type="text" formControlName="minimum_stock" />

      <label>Category</label>

      <input type="text" formControlName="category" />
      <button type="submit">Add Product</button>
    </form>
  </div>
</div>
