.date {
  height: 34px;
  font-weight: bold;
  margin-left: 85%;
  color: #24c6dc;
  margin-top: 10px;
}

@media screen and (max-width: 425px) {
  .date {
    margin-left: 70%;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .login-form {
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
  }
  input {
    width: 90%;
  }
}
