<div class="landing-page">
  <div class="login-logo">
    <img src="../../assets/LockStore Logo.svg" alt="Lockstore Logo" />
  </div>
  <div class="login-form">
    <p class="login">Sign Up</p>
    <div class="form">
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <label for="email">Email</label>
        <br />
        <input type="email" id="email" formControlName="email" />
        <br />
        <div>
          <span
            style="color: red"
            *ngIf="
              !reactiveForm.get('email').valid &&
              reactiveForm.get('email').touched
            "
            >Invalid Email</span
          >
        </div>
        <label for="password" id="password">Password</label>
        <br />

        <input type="password" formControlName="password" />
        <br />
        <label for="password" id="password">Confirm Password</label>
        <br />

        <input type="password" />
        <br />
        <button class="login-btn" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>
