<form [formGroup]="reactiveForm" (ngSubmit)="onUpdate()">
  <label>Product Details:</label><br />
  <input formControlName="name" type="text" /><br />
  <label>Inventory:</label
  ><input formControlName="inventory" type="text" /><br />
  <label>Price:</label><input formControlName="price" type="text" /><br />
  <label>Category:</label><input formControlName="category" type="text" />
  <div class="tooltip">
    <div
      matTooltip="You do not have permission to update"
      [matTooltipDisabled]="buttonEnabled"
    >
      <button
        mat-raised-button
        [disabled]="!buttonEnabled"
        class="update"
        type="submit"
      >
        Update
      </button>
    </div>

    <div
      matTooltip="You do not have permission to delete"
      [matTooltipDisabled]="buttonEnabled"
    >
      <button
        mat-raised-button
        [disabled]="!buttonEnabled"
        class="delete"
        (click)="onDelete()"
        routerLink="/products"
        type="button"
      >
        Delete
      </button>
    </div>
  </div>
</form>
<button class="back-btn" (click)="goBack()" type="button">Back</button>
