<div class="modal">
  <p class="user-det">Product Details:</p>
  <div class="underline-user-text"></div>
  <p class="prod-name">{{ product?.name }}</p>
  <p class="prod-inv">
    Inventory:
    <span class="s-inv">{{ product?.inventory }}</span>
  </p>
  <p class="prod-price">
    Price: <span class="s-ks">Kshs.</span>
    <span class="s-price">{{ product?.price }}</span>
  </p>
  <p class="prod-min-stock">
    Minimun Stock:
    <span class="s-min-stock">{{ product?.minimum_stock }}</span>
  </p>
  <p class="prod-min-stock">
    Category:
    <span class="s-min-stock">{{ product?.category }}</span>
  </p>
  <!-- <div>
      <input type="text" [(ngModel)]="product.name" *ngIf="editMode" />
    </div> -->
  <!-- <button
      [routerLink]="['/products/product', product.id]"
      [queryParams]="{ edit: true }"
      class="update"
    >
      Update
    </button> -->
  <button class="update" (click)="appendQueryParam()">Update</button>
  <button class="delete" (click)="onDelete(product['product id'])">
    Delete
  </button>
  <button class="back-btn" routerLink="/products">Back</button>
</div>
