<div>
  <app-date></app-date>
  <div class="page-title">
    <p>Sales</p>
    <div class="underline"></div>
  </div>
  <table id="sales-table">
    <tbody>
      <tr class="table-header">
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sold By</th>
      </tr>
    </tbody>
    <div *ngIf="isLoading"><p>Loading.....</p></div>
    <tbody>
      <tr class="table-rows" *ngFor="let sale of sales">
        <td>{{ sale.name }}</td>
        <td>{{ sale.price }}</td>
        <td>{{ sale.quantity }}</td>
        <td>{{ sale.user }}</td>
      </tr>
    </tbody>
  </table>
</div>
