<div>
  <app-date></app-date>
  <div class="page-title">
    <p>Employees</p>
    <div class="underline"></div>
  </div>
  <p class="total-emp">Total employees: <span>7</span></p>
  <div class="employee-no">
    <div class="attendants">
      <p class="att-p">Attendants: <span>3</span></p>
    </div>
    <div class="admin">
      <p class="admin-p">Admin: <span>1</span></p>
    </div>
    <button routerLink="/addemployee" class="add-emp">Add Employee</button>
  </div>

  <app-employee-card class="employee-cards"></app-employee-card>
</div>
