<div class="landing-page">
  <div class="login-logo">
    <img src="../../assets/LockStore Logo.svg" alt="Lockstore Logo" />
  </div>
  <div class="login-form">
    <p class="login">Log In</p>
    <div class="form">
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <label for="email">Email</label>
        <br />
        <input type="email" id="email" formControlName="email" />
        <br />
        <div>
          <span
            style="color: red"
            *ngIf="
              !reactiveForm.get('email').valid &&
              reactiveForm.get('email').touched
            "
            >Invalid Email</span
          >
        </div>
        <label for="password" id="password">Password</label>
        <br />

        <input type="password" formControlName="password" />
        <br />
        <button class="login-btn">Log In</button>
      </form>
    </div>

    <a class="forgot-pass" href="#"> Forgot Password? </a>
    <p class="new-acc">
      Don't have an account?
      <span>
        <a href="#" class="req-pass"> Request one </a>
      </span>
    </p>
  </div>
</div>
