<div class="container">
  /* Date */ /* Employees */
  <p class="total-emp">Total employees: <span>7</span></p>
  <div class="employee-no">
    <div class="attendants">
      <p>Attendants: <span>3</span></p>
    </div>
    <div class="admin">
      <p>Admin: <span>1</span></p>
    </div>
    <app-add-employee></app-add-employee>
  </div>
  <div class="employee-cards">
    <div class="employee-card" *ngFor="let user of users">
      <img id="emp-image" src="../../../assets/user.svg" alt="Employee" />
      <p class="emp-name">{{ user.name }}</p>
      <p class="emp-role">{{ user.role }}</p>
    </div>
  </div>
</div>
