<div *ngIf="isLoading"><p>Loading.....</p></div>

<a
  class="product-card"
  *ngFor="let product of products | filter : searchKey : 'name'"
  routerLink="/products/product/{{ product.id }}"
>
  <img
    id="product-image"
    src="../../../assets/products.svg"
    alt="{{ product.name }}"
  />
  <p class="product-name">{{ product.name }}</p>
  <p class="inventory">
    <span className="items-no">{{ product.inventory }}</span> items
  </p>
  <p class="cost">
    Kshs. <span className="k-shs">{{ product.price }}</span>
  </p>
  <!-- <button (click)="showDetails(product)">Details</button> -->
  <!-- <button routerLink="/products/product/{{ product.id }}">Details</button> -->
</a>

<router-outlet></router-outlet>
