/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Montserrat", sans-serif;
}
.container {
  background-color: #f0f0f0;
  width: 80%;
  float: right;
  height: 100vh;
  overflow: auto;
}
